<!-- <p>listar-sala works!</p> -->

<div class="panel panel-primary">
  <div class="panel-heading">
    <h2>Lista de salas:</h2>
  </div>
  <div class="panel-body">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Nome:</th>
          <th>Data:</th>
          <th>Duração:</th>
          <th>Ações:</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let sala of salas | async">
          <td>{{sala.nome}}</td>
          <td>{{sala.data}}</td>
          <td>{{sala.duracao}}</td>
          <td>
              <button (click)="removerSala(sala.id)" class="btn btn-danger">Remover</button>
              <button (click)="atualizarSala(sala.id)" class="btn btn-info" style="margin-left: 10px">Atualizar</button>
              <button (click)="detalhesDaSala(sala.id)" class="btn btn-info" style="margin-left: 10px">Detalhes</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
  